 {% extends 'base.html.twig' %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
       <header>
                <div class="photo">
                    <img src="p1.JPG" width="100%" height="100%" alt="">
                </div>
                <div class="des">
                    <h3>Jonathan ANGUILET QUABEN</h3>
                    <p class="post">ADMINISTRATEUR RESÉAUX</p>
                </div>
                <div class="right">
                        <p><img src="mail.png" class="info">Anguiletjonathan@gmail.com</p>
                        <p><img src="maps.png" class="info">7 Rue Elisée reclus</p>
                        <p><img src="tele.png" class="info">0745506105</p>
                </div> 
       </header>

        <section class="section-left">
            <h4>Atouts</h4>
            <hr class="light">
            <div class="atouts">
                <div>Travail d'équipe</div>
                <div>Curieux</div>
                <div>Adaptabilité/flexibilité</div>
                <div>Entreprenant</div>
            </div>

            <h4>Diplômes et Formations</h4>
            <hr class="light">
            <div class="div">
                <div><b>Bachelor 1: Réseaux et Télécommunications</b><strong> IUT DE ROANNE</strong>  Roanne, 20 avenue de Paris <br>2022-En cours</div><br>
                <div><b>BACCALAURÉAT S</b><strong> Lycée BESSIEUX</strong>  Libreville, GABON <br>2020-2021</div>
            </div>

            <h4>Expériences professionnelles</h4>
            <hr class="light">
                <div class="div">
                    <p>
                        <b>PROJET SAE1.01</b> <strong>IUT de ROANNE</strong><br>02 mois(Septembre-Novembre 2022)<br>Etude des différents types de vulnérabilités pouvant exister dans un système informatique,ainsi que les conséquences qu'elles peuvent engendrer. Grace à mon autoformation sur le MOOC de l'Anssi(où j'ai obtenu ma certification),j'ai pu découvrir de nombreux attaques que peuvent subir un système et comment y remedier ou empecher cela.
                    </p>
         
                    <p>
                        <b>PROJT SAE1.02</b> <strong>IUT de ROANNE</strong><br>02 mois(Novembre-Janvier 2023)<br>Etude d'un réseau existant et conception,réalisation d'un LAN. Mes compétences en réseau,notamment dans l'utilisation de logiciels tel que wireshark et Packet Tracer m'ont permises de réaliser le travail demandé.
                    </p>
                </div>
        </section>

        <section class="section-right">
            <h4>Compétences</h4>
            <hr class="light">
                <div class="skls">

                    <div class="po">
                        <p>langages Python & C</p>
                        <div class="cool">
                            <div style="width:60%" class="inner"></div>
                        </div>
                    </div>

                    <div class="po">
                        <p>Symfony, Html, CSS</p>
                        <div class="cool">
                            <div style="width:60%" class="inner"> </div>
                        </div>
                    </div>

                    <div class="po">
                        <p>Sisco Packet Tracer,Wireshark</p>
                        <div class="cool">
                            <div style="width:70%" class="inner"> </div>
                        </div>
                    </div>

                    <div class="po">
                        <p>Photoshop, Movavi Video Editor</p>
                        <div class="cool">
                            <div style="width:80%" class="inner"> </div>
                        </div>
                    </div>
                </div>


                <h4>Langues</h4>
                <hr class="light">
                    <div class="skls">
                        <div class="po">
                        <p>Français</p>
                        <div class="cool">
                            <div style="width:95%" class="inner"> </div>
                        </div>
                    </div>
                    <div class="po">
                        <p>Anglais</p>
                        <div class="cool">
                            <div style="width:35%" class="inner"> </div>
                        </div>
                    </div>
                </div>
                <h4>Réseaux sociaux</h4>
                <hr class="light">
                    <div class="interet">
                        <p><img src="i.png" class="info"><span>jonathan.anguilet</span></p> 
                        <p><img src="l.png" class="info"><span>Jonathan ANGUILET QUABEN</span></p>
                        <p><img src="g.png" class="info"><span>https://github.com/AnguiletJonathan</span></p>
                    </div>


                    <h4>Centres d'intérêt</h4>
                    <hr class="light">
                    <div class="interet">
                        <div><b>Lecture</b></div>
                        <div><b>Guitare</b></div>
                        <div><b>Football</b></div>
                        <div><b>Basketball</b></div>
                    </div>
        </section>
        <div class="srkl">
        </div>
    </main>
</body>
<button class="btn btn-primary btn-lg" >
    <a class="navbar-brand" href="/formulaire_cv">
        Formulaire pour télécharger mon cv
	</a>
</button>

</html>
{% endblock %}