{% extends 'base.html.twig' %}


{% block body %}
	<h1>E-Portfolio✅</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">COMPETENCES</th>
      <th scope="col">APPRENTISSAGES CRITIQUES</th>
      <th scope="col">NIVEAU D'ACQUISITION</th>
      <th scope="col">JUSTIFICATIFS</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-primary">
      <th scope="row">Administrer</th>
      <td>Maîtriser les lois fondamentales de l’électricité afin d’intervenir sur des équipements de réseaux et télécommunications (habilitation électrique)</td>
      <td>3/4</td>
      <td> <a href="media/R106.pdf">Justificatif</a></td>
    </tr>
  
    <tr class="table-primary">
      <th scope="row">Administrer</th>
      <td>Comprendre les principes et standards du codage de l’information Justificatif</td>
      <td>*/4</td>
      <td> <a href="">Justificatif</a></td>
    </tr>

    <tr class="table-primary">
      <th scope="row">Administrer</th>
      <td>Savoir identifier les dysfonctionnements du réseau local</td>
      <td>*/4</td>
      <td> <a href="">Justificatif</a></td>
    </tr>

    <tr class="table-primary">
      <th scope="row">Administrer</th>
      <td>Installer un poste client (et le sécuriser: antivirus, parefeu, comptes, ...)</td>
      <td>*/4</td>
      <td> <a href="">Justificatif</a></td>
    </tr>

    <tr class="table-primary">
      <th scope="row">Connecter</th>
      <td></td>
      <td>*/4</td>
      <td> <a href="">Justificatif</a></td>
    </tr>

    <tr class="table-primary">
      <th scope="row">Connecter</th>
      <td></td>
      <td>*/4</td>
      <td> <a href="">Justificatif</a></td>
    </tr>

    <tr class="table-primary">
      <th scope="row">Connecter</th>
      <td></td>
      <td>*/4</td>
      <td> <a href="">Justificatif</a></td>
    </tr>

    <tr class="table-primary">
      <th scope="row">Connecter</th>
      <td></td>
      <td>*/4</td>
      <td> <a href="">Justificatif</a></td>
    </tr>

    <tr class="table-primary">
      <th scope="row">Programmer</th>
      <td></td>
      <td>*/4</td>
      <td> <a href="">Justificatif</a></td>
    </tr>

    <tr class="table-primary">
      <th scope="row">Programmer</th>
      <td></td>
      <td>*/4</td>
      <td> <a href="">Justificatif</a></td>
    </tr>

    <tr class="table-primary">
      <th scope="row">Programmer</th>
      <td></td>
      <td>*/4</td>
      <td> <a href="">Justificatif</a></td>
    </tr>

    <tr class="table-primary">
      <th scope="row">Programmer</th>
      <td></td>
      <td>*/4</td>
      <td> <a href="">Justificatif</a></td>
    </tr>
  </tbody>
</table>
		
{% endblock %}
