{% extends 'base.html.twig' %}


{% block body %}
	<h1>E-Portfolio✅</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">COMPETENCES</th>
      <th scope="col">APPRENTISSAGES CRITIQUES</th>
      <th scope="col">NIVEAU D'ACQUISITION</th>
      <th scope="col">JUSTIFICATIFS</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-primary">
      <th scope="row">Administrer</th>
      <td>Maîtriser les lois fondamentales de l’électricité afin d’intervenir sur des équipements de réseaux et télécommunications (habilitation électrique)</td>
      <td>75%</td>
      <td> <a href="">Justificatif</a></td>
    </tr>
  
    <tr class="table-primary">
      <th scope="row">Administrer</th>
      <td>Comprendre les principes et standards du codage de l’information Justificatif</td>
      <td>50%</td>
      <td> <a href="justificatifs/R106.pdf">Justificatif</a></td>
    </tr>

    <tr class="table-primary">
      <th scope="row">Administrer</th>
      <td>Savoir identifier les dysfonctionnements du réseau local</td>
      <td>75%</td>
      <td> <a href="justificatifs/">Justificatif</a></td>
    </tr>

    <tr class="table-primary">
      <th scope="row">Administrer</th>
      <td>Installer un poste client (et le sécuriser: antivirus, parefeu, comptes, ...)</td>
      <td>75%</td>
      <td> <a href="justificatifs/R108.pdf">Justificatif</a></td>
    </tr>

    <tr class="table-primary">
      <th scope="row">Connecter</th>
      <td>Déployer des supports de transmission (traitement au choix de la propagation, câblage LAN, fibre optique)</td>
      <td>75%</td>
      <td> <a href="justificatifs/R105.pdf">Justificatif</a></td>
    </tr>

    <tr class="table-primary">
      <th scope="row">Connecter</th>
      <td>Mesurer et analyser les signaux (audio et vidéo, ordres de grandeurs, comprendre la dualité temps/fréquence et utiliser des équipements d’analyse spectrale, avec projets
autour de la chaîne d’acquisition/traitement)</td>
      <td>50%</td>
      <td> <a href="justificatifs/R1.05.pdf">Justificatif</a></td>
    </tr>

    <tr class="table-primary">
      <th scope="row">Connecter</th>
      <td>Communiquer avec un client ou un collaborateur</td>
      <td>50%</td>
      <td> <a href="justificatifs/">Justificatif</a></td>
    </tr>

    <tr class="table-primary">
      <th scope="row">Connecter</th>
      <td>Caractériser des systèmes de transmissions élémentaires et découvrir la modélisation mathématique de leur fonctionnement</td>
      <td>50%</td>
      <td> <a href="justificatifs/">Justificatif</a></td>
    </tr>

    <tr class="table-primary">
      <th scope="row">Programmer</th>
      <td>S’intégrer dans un environnement propice au développement et au travail collaboratif</td>
      <td>90%</td>
      <td> <a href="justificatifs/R107.pdf">Justificatif</a></td>
    </tr>

    <tr class="table-primary">
      <th scope="row">Programmer</th>
      <td>Lire, exécuter, corriger et modifier un programme</td>
      <td>90%</td>
      <td> <a href="justificatifs/R1.07.pdf">Justificatif</a></td>
    </tr>

    <tr class="table-primary">
      <th scope="row">Programmer</th>
      <td>Traduire un algorithme, dans un langage et pour un environnement donné (peut inclure plusieurs, y compris objet</td>
      <td>75%</td>
      <td> <a href="justificatifs/R10.7.pdf">Justificatif</a></td>
    </tr>

    <tr class="table-primary">
      <th scope="row">Programmer</th>
      <td>Connaître l’architecture et les technologies d’un site Web (Langages et outils : HTML, CSS, CMS, JS, responsive)</td>
      <td>50%</td>
      <td> <a href="justificatifs/R109.pdf">Justificatif</a></td>
    </tr>
  </tbody>
</table>
		
{% endblock %}
