{% extends 'base.html.twig' %}


{% block body %}

	<div class="example-wrapper">

		<p>Bienvenue sur mon site web, je suis un jeune étudiant en Réseaux et Télécommunications, passionné par le réseau informatique.<br>J'ai pour objectif plus tard d'exercer en tant qu'administrateur réseau, et je fais tout ce qu'il faut pour me donner toutes les chances d'y arriver,<br> en commençant par la création de ce site web qui me permettra de me mettre en valeur.<br>J'espère que mon profil vous plaira.</p>
		<table class="table table-hover">
  			<tbody>
    			<tr class="table-active">
      				<th scope="row">Email</th>
      				<td>Jonathan.anguilet.quaben@etu.univ-st-etienne.fr</td>
      				<td></td>
      				<td></td>
    			</tr>
    			<tr class="table-active">
      				<th scope="row">Téléphone</th>
      				<td>0745506105</td>
      				<td></td>
      				<td></td>
    			</tr>
    			<tr class="table-active">
      				<th scope="row">Adresse</th>
      				<td>15 Bis Rue Fontenille, 42300 ROANNE</td>
      				<td></td>
      				<td></td>
    			</tr>
  			</tbody>
		</table>
		<button class="btn btn-primary btn-lg" >
			<a class="navbar-brand" href="/savoir">
				Pour en savoir plus
			</a>
		</button>

	</div>

{% endblock %}
