 {% extends 'base.html.twig' %}

{% block body %}
	<body class="container">
		<div class="example-wrapper">
			<h4>Cette page est la partie loisir de mon site.<br>Ici il y'a moins de proféssionalisme et plus de personnel,vous y découvrirez quelques une de mes passions en dehors de l'informatique.</h4>
		</div>

		<br>
		<b>On commence avec ma première passion,un des mes tous premiers cadeaux de Noël.j'ai toujours adoré cet instrument meme si en grandissant j'y joue de moins en moins.
		<br>
		<video width="500px" height="500px" controls>
      		<source src="/img/g2.mp4" type=video/mp4>
    	</video>

		<br>
			Ensuite nous avons mon deuxième passe-temps favoris(Le premier arrive un peu plus bas). Je suis très passionné par la culture japonaise et ses différentes oeuvres,plus particulièrement l'univers des mangas.Un de mes rêves est de visiter ce beau pays qu'est le Japon.
		<br>
		<img src="/img/m.jpg" alt="mangas" width="500px" heigth="500px">

		<br>
			Je suis également un amateur de jeux vidéos,bon j'y passe forcément beaucoup moins de temps depuis la reprise des cours mais ça reste un divertissement que j'aime beaucoup.
		</br>
		<img src="/img/play.jpg" alt="mangas" width="500px" heigth="500px">

		<br>
			Nous arrivons à ma passion numéro 1. Que ce soit dans le fait de le pratiquer, de le regarder à la télévision ou d'y jouer, le football me procure énormément de bien-être et je ne peux vraiment pas m'y passer.
		<br>
		<video width="500" height="500" controls>
      		<source src="/img/moi4.mp4" type=video/mp4>
    	</video>
		<video width="500" height="500" controls>
      		<source src="/img/f3.mp4" type=video/mp4>
    	</video>
		<img src="/img/f2.jpg" alt="mangas" width="500px"> <br>
		<video width="500" height="500" controls>
      		<source src="/img/f5.mp4" type=video/mp4>
    	</video>
		<video width="500" height="500" controls>
      		<source src="/img/f4.mp4" type=video/mp4>
    	</video>

		<br>
			Je vais vous laisser terminer votre visite avec des photos de moi en compagnie de certains de mes amis, J'espère vous revoir bientôt!
		<br>
		<video width="500" height="500" controls>
      		<source src="/img/moi.mp4" type=video/mp4>
    	</video>
		<video width="500" height="500" controls>
      		<source src="/img/moi2.mp4" type=video/mp4>
    	</video>
		<img src="/img/jjo.jpg" alt="mangas" width="500px">
		<img src="/img/moi5.jpg" alt="mangas" width="500px">

		</b>
		<br>
		<button class="btn btn-primary btn-lg" >
			<a class="navbar-brand" href="#top">
				Haut de page
			</a>
		</button>
		&#8593;
	</body>
{% endblock %}
