 {% extends 'base.html.twig' %}


{% block body %}
	<body class="container">
		<div class="example-wrapper">
			<h1>Savoir plus✅</h1>
		</div>
		<img src="/public/cod.jpg" alt="Call Of Duty">
	</body>

{% endblock %}
