<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BIENVENUE!{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="/img/j.jpg" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link href="https://bootswatch.com/5/slate/bootstrap.min.css" rel="stylesheet">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container-fluid">
				<li><img src="/img/oim.jpg" width="80px" heigth="80px"></li>
				<a class="navbar-brand">ANGUILET QUABEN Jonathan</a>
				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link" href="/accueil">Accueil</a>
						</li>				
						<li class="nav-item">
							<a class="nav-link" href="/cv">CV</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/eportfolio">E-Portfolio</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
        {% block body %}{% endblock %}
    </body>
	<footer>
		<p>© RT1 2023 IUT de Roanne</p>
	</footer>
</html>
